@{
    ViewData["Title"] = "首页";
}
<div style="clear:both"></div>
<div style="text-align:center;" id="video">
    <h3 style="font-family:SimSun;margin:20px auto">士兵突击这堂政治教育，上了10年依旧精彩！</h3>
    <video controls autoplay loop>
        <source src="http://oss.vanfj.com/Video/ShiBinTuJi.mp4" type="video/mp4" />
    </video>
</div>
<div style="clear:both"></div>
<div>
    <p style="text-align: center;line-height: 25px;font-family:SimSun">一个人真正优秀的特质</p>
    <p style="text-align: center;line-height: 25px;font-family:SimSun">来源于内心想要变得更加优秀的那种强烈的渴望</p>
    <p style="text-align: center;line-height: 25px;font-family:SimSun">和对生命的追求的那种火热的激情</p>
</div>
<div style="text-align:center;"><img id="imgVerify" src="/Home/ValidateCode" alt="看不清？点击更换" onclick="this.src = this.src+'?'" style="vertical-align:middle;" /></div>
@section Scripts{
    <script type="text/javascript" language="javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script type="text/javascript">

        $(function () {
            function setHeight() {
                var h = $(".container").css("height");
                $("#video").css({ "width": h + "px", "text-align": "center" });
                $("video").css({ "width":"100%"});
            }

            setHeight();
            $("*").resize(function () { 
                setHeight();
            });
        });

        window.onload = function () {
            console.log(returnCitySN.cname + "  " + returnCitySN.cip);
            var str = returnCitySN.cname + "   " + returnCitySN.cip;
            var footer = $("footer p");
            var p = document.createElement("P");
            p.innerHTML = str;
            p.style.textAlign = "center";
            p.style.background = "rgba(255,128,10,0)";
            footer.first().before(p);
        };
        //$("*").click(function () {
        //    $('html').animate({ scrollTop: 0 }, 500);
        //    document.documentElement.scrollTop = 0;
        //});
    </script>
}