<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="\internal-nlog.txt">
  <!-- 要写的目标-->
  <targets>
    <!--将日志写入文件  -->
    <target xsi:type="File" name="allfile" fileName="\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- 启用asp.net核心布局渲染器 -->
    <target xsi:type="File" name="ownFile-web" fileName="\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
  </targets>

  <!-- 从记录器名称映射到目标的规则 -->
  <rules>
    <!--所有的记录，包括从微软-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--跳过非关键微软日志，因此只记录自己的日志-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole -->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>